<div class="shell">
  <po-toolbar
    p-title="Workspace"
    [p-profile]="profile"
    [p-profile-actions]="profileActions"
  ></po-toolbar>

  <div class="shell-body">
    <aside class="shell-sidebar">
      <po-menu [p-menus]="menus">
        <ng-template p-menu-header-template>
          <div class="menu-brand">
            <span>Painel</span>
            <strong>Workspace</strong>
          </div>
        </ng-template>
      </po-menu>
      <div class="sidebar-footer">
        <po-button
          p-label="Sair"
          [p-danger]="true"
          (p-click)="logout()"
        ></po-button>
      </div>
    </aside>

    <main class="shell-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
